@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Nitrosoft way<br />
    <abbr title="Tinashe">Tinashe:</abbr>078.000.0000  (whatsapp)<br />
    <abbr title="Phone">Phone:</abbr>
    078.000.0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nitrosoft@gmail.com">nitrosoft@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:nitrosoft@gmail.com.com">nitrosoft@gmail.com</a>
</address>