@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><img src="~/Content/Images/NHS_logo.jpg" style="width:150px; height:100px;" /></center>
    <center><h1><b>New Hope Secondary School</b></h1></center>
    <p class="lead">
        <center>
            Nitrosoft is a website/ web application that was created to help New Hope Secondary
            School learners with intra-information aswell as to improve our systems.
        </center>
    </p>

</div>
<div class="wrapper">
    <div class="row">
        <div class="col-md-4">
            <h2>Location</h2>
            <p>Go to New Hope Secodary.</p>
            <p><a class="btn btn-default" href="https://rb.gy/jcbnzw target="_blank">Click here &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Maintanance Team</h2>
            <p>These are the people who maintain our school.</p>
            <p><a class="btn btn-default" href="~/Content/mt.html" >Click here &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>News Letter</h2>
            <p>
                Due to covid-19 (Corona Virus), we have decided to devide our learners into two groups.
            </p>
            <p><a class="btn btn-default" href="~/Content/news letter.html" >Click here &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Report</h2>
            <p> You are now able to report bullying, illegal activities etc. This will help to keep our school a safe place.</p>
            <p><a class="btn btn-default" href="~/Content/report.html" >Click here &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Suggestions</h2>
            <p>Here you are able to suggest what you have in mind that will benefit the school.</p>
            <p><a class="btn btn-default" href="~/Content/suggestions.html" >Click here &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Teachers</h2>
            <p>Here you will be able to see all the teachers that teach at New Hope Secondary and also the other stuff.</p>
            <p><a class="btn btn-default" href="~/Content/teachers.html" >Click here &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Time Table</h2>
            <p>You are now able to view/download your class time table and also an exam time table in time.</p>
            <p><a class="btn btn-default" href="~/Content/time table.html" >Click here &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Top Learners</h2>
            <p>Here you are able to see all the top learners of our school from grade 8 to 12 (top 10 only).</p>
            <p><a class="btn btn-default" href="~/Content/top learners.html" >Click here &raquo;</a></p>

        </div>
    </div>
</div>